@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
body,html{
    background-color: #060607;
}
.banner{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height:70vh;
    overflow: hidden;
}
.banner h1{
    font-size: 55px;
}
.banner h2{
    font-size: 30px;
    margin-top: 5px;
}
.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
  .banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  .menu-bar {
	border-radius: 25px;
    position: relative;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .4);
	backdrop-filter: blur(10px);
	align-items: center;
	padding: 0 60px;
    font-size: 20px;
	margin: 70px 0 0 0;
    z-index: 2;
}

.menu-bar li {
	list-style: none;
	font-family: sans-serif;
	font-weight: bold;
	padding: 12px 16px;
	margin: 0 8px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	color: white;
}

.menu-bar li::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: 0.2s;
	border-radius: 25px;
}

.menu-bar li:hover::before {
	background: linear-gradient(to bottom, #e8edec, #d2d1d3);
	box-shadow: 0px 3px 20px 0px black;
	transform: scale(1.2);
}

.menu-bar li:hover {
	color: black;
}

.menu-bar li a {
	color: inherit;
	text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
  width: 600px;
  border-radius:100px;
}
.img{
  text-align: right;
  margin-right: 40px;
  padding-top: 70px;
}
.container h1,h2{
  position: absolute;
}
.container h1{
  padding-top: 10%;
  font-size:50px;
  font-family: "Vend Sans", sans-serif;
  margin-left: 150px;
}
.container h2{
  padding-top: 15%;
  margin-left: 150px;
}